/* Global styles for the container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px;
  color: white;
}

.navbar h1 {
  margin: 0;
  font-size: 2em;
}

.search-bar {
  padding: 8px;
  border-radius: 4px;
  border: none;
  width: 300px;
  font-size: 1em;
}

/* Bookmark panel container */
.bookmark-panel {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.bookmark-section {
  border-radius: 8px; /* 可选：添加圆角 */
  background-color: green;
}

/* Section title styling */
.section-title {
  display: 'flex';
  align-item: 'center';
  font-size: 1.8em;
  padding: 5px 5px;
}

/* Styling for the small panel separating each category */
.panel {
  padding: 5px;
}

/* Grid layout for bookmarks */
.grid-container {
  background-color: #26333f;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto; 
  gap: 15px;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.grid-item {
  display: flex;
  justify-content: center;
}

.bookmark-card {
  display: flex;
  height: 48px;
  flex-direction: row; /* 内容水平排列 */
  justify-content: start; /* 水平居中 */
  gap: 5px; /* 子元素之间的间距 */
  align-items: center; /* 垂直居中 */
  background-color: white;
  padding: 15px; /* 增加内边距 */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center; /* 文字居中 */
}

.bookmark-icon {
  width: 48px;
  height: 48px;
}

.bookmark-title {
  font-size: 1.1em;
  font-weight: bold;
  font-size: 18px;
}

.bookmark-desc {
}
